/* body{
    background-color: blue;
}
.hang{
    width: 300px;
    height: 300px;
    margin-top: 50%;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 50%;
    background-color: white;
} */